.row
  = pape_title('Dashboard', 'fa-home')
  = render 'shared/user_metrics'

- if current_user.sign_in_count == 1
  .row
    .col-sm-12
      #welcome.well
        %button.close{"data-dismiss" => "alert"}
          ×
        %h1.semi-bold= t('welcome_title')
        %p
          = t('welcome')
        = link_to 'Get Started!', '#', class: 'btn btn-primary'


.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .well.well-sm
      .smart-timeline
        %ul.smart-timeline-list
          //Passing Example
          %li
            .smart-timeline-icon.passing
              %i.fa.fa-fw.fa-check
            .smart-timeline-time
              %small just now
            .smart-timeline-content
              %p
                %a.txt-color-greenDark{href: "javascript:void(0);"}
                  %strong Project Name
              %p
                Test Details
          //Failing Example
          %li
            .smart-timeline-icon.failing
              %i.fa.fa-fw.fa-exclamation
            .smart-timeline-time
              %small Mar 18, 2014
            .smart-timeline-content
              %p
                %a.txt-color-red{href: "javascript:void(0);"}
                  %strong Project Name
              %p
                Test Details
