/ Page content
.page-content.blocky
  .container
    = render 'shared/application/side_menu'
    .mainy
      / Page title
      .page-title
        %h2
          %i.icon-desktop.color
          Dashboard
          %small= current_user.email
        %hr/
      / Page title
      .row
        .col-md-12
          %h2
            Add text explaining
            %strong AutoTest.io MVP.
            Maybe a message about we're here to raise
            %strong 500k
          %p
            %strong
              %em
                = link_to "Add your first Project", projects_path, class: 'btn btn-success btn-lg'

#add-project.modal.fade
  .modal-dialog
    .modal-content
      = simple_form_for Project.new do |f|
        .modal-header
          %button.close{data: {dismiss: "modal"}, aria:{hidden: true}} &times;
          %h4.modal-title Add Project
        .modal-body
          = f.input :name
          = f.input :url
        .modal-footer
          %button.btn.btn-info{data: {dismiss: "modal"}, aria: {hidden: true}} Close
          = f.submit "Add Project", class: "btn btn-primary"
