- content_for :title do
  Dashboard
= javascript_include_tag "step_status"

.row
  = pape_title('Dashboard', 'fa-home')

-if current_user.has_no_activity? || !current_user.has_own_project?
  .row
    .col-sm-6
      #welcome.well
        %h1.lead= t('welcome_title')
        %p
          = t('welcome')
        - if current_user.has_no_activity?
          = link_to 'Get to know Gorilla Test', project_path(current_user.projects.first), class: 'btn btn-info' if current_user.projects.first.present?
        = link_to 'Add Your App', new_project_path, class: 'btn btn-primary'

.row
  .col-md-12
    - if current_user.projects.size == 0
      %p
        You don't current have any projects, would you like to
        %a{href: new_project_path, data: {toggle: "modal", target: "#add-project"}} create one
    - else
      - if @last5_test_runs.size > 0
        .awidget
          .awidget-head
            %h3#tour-latest-results Last 5 Tests
          .awidget-body
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .well.well-sm
                .smart-timeline
                  %ul.smart-timeline-list
                    - @last5_test_runs.first(5).each do |test_run|
                      //Passing Example
                      %li
                        .smart-timeline-icon{class: "#{test_run_status_class(test_run.status)}"}
                          %i.fa.fa-fw{class: "#{bang_or_check(test_run.status)}"}
                        .smart-timeline-time
                          %small
                            = distance_of_time_in_words_to_now(test_run.ran_at) if test_run.ran_at.present?
                            ago
                        .smart-timeline-content
                          %p
                            = link_to test_run_name(test_run), test_run_link(test_run), class: test_run_link_class(test_run.status)
                          %p
                            = test_run_platforms(test_run)
                            &nbsp;&nbsp;
                            %strong Ran By:
                            = gravatar_image_tag(test_run.user)
                            = test_run.user.name

%ol.joyride-tour#dashboard-tour
  %li{data: {id: "tour-welcome", button: 'Next'}}
    %h3 Welcome
    %p Since it's your first time here we'll give you a quick tour! This is the first stop, your Dashboard!
  %li{data: {id: "tour-latest-results", button: 'Next'}}
    %h3 Latest Results
    %p Once you start running tests, in this area you'll see a feed of the latest results across all projects
  %li{data: {id: "tour-minutes-remaining", button: 'Next'}}
    %h3 Time is Money
    %p Up here you can keep count of all the time you've spent, or rather saved, with GorillaTest!
  %li{data: {id: "tour-upgrade-plan", button: 'Next'}}
    %h3 Feed the Gorilla
    %p Want to do even more with GorillaTest? Upgrade any time!
  %li{data: {id: "tour-sample-project-link", button: 'Next'}}
    %h3 Get Your Hands Dirty
    %p Now let's move on to the Sample Project so you can learn how to set your own up.


