.navbar.navbar-default{role: "navigation"}
  .navbar-inner
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %a.navbar-brand{href: root_path}
          = image_tag('layout/gorilla-test-head.svg', class: 'logo')
          Gorilla Test
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li= link_to 'FAQs', faqs_path
          %li= link_to 'Pricing', pricing_path
          %li= link_to 'Documentation', documentation_path
          -#%li= link_to 'Contact', '#'
          -#%li= link_to 'Blog', '#'
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Sign Up Free', sign_up_free_path #, class: 'btn btn-danger btn-lg'
          %li= link_to 'Login', login_path

