-content_for :title do
  My Info

.row
  = pape_title('My Info', 'fa-user')

%section#widget-grid
  .row
    %article.col-sm-6
      #wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false"}
        %header
          %span.widget-icon
            %i.fa.fa-edit
          %h2 Basics
        %div
          .jarviswidget-editbox
          .widget-body.no-padding
            = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'smart-form' }) do |f|
              = devise_error_messages!
              = f.input :email
              = f.input :first_name
              = f.input :last_name
              = f.input :phone
              = f.input :company_name
              = f.input :role, collection: ["Developer", "QA Manager", "Product Manager", "Other"], prompt: "Please select your role"
              - if current_user.role == "Other"
                #role_other
                  = f.input :role_other, label: "Other"
              - else
                #role_other{style: "display: none;"}
                  = f.input :role_other, label: "Other"
              = f.input :location
              = f.input :current_password, label: "Current Password (only if you are changing your password)"
              = f.input :password, label: "New Password"
              = f.input :password_confirmation, label: "Confirm New Password"
              %footer
                = f.submit "Update", class: "btn btn-info"
                %button.btn.btn-default{onclick: "window.history.back();", type: "button"}
                  Back
