.container
  .row
    .col-md-12
      %h1 AutoTest
.row
  #form.col-md-12
    .container
      .row
        #create_your_account.col-md-12
          .row
            .col-md-1
              %i.fa.fa-user.fa-4x
            .col-md-11
              %h2 Create your AutoTest account
      .row
        .col-md-12
          %h3 The basics
      .row
        .col-md-8
          = simple_form_for(resource, :as => resource_name, :url => user_registration_path, :html => {:class => 'form-vertical' }) do |f|
            = f.error_notification
            = devise_error_messages!
            #form-content.row
              .col-md-6
                = f.input :first_name, required: false, input_html: {value: session["devise.user_attributes"].try(:[], "first_name")}
                = f.input :email, required: false
                = f.input :password

              .col-md-6
                = f.input :last_name, required: false, input_html: {value: session["devise.user_attributes"].try(:[],"last_name")}
                = f.input :company_name, label: 'Company Name', required: false
                = f.input :password_confirmation
            #form-options.row
              .col-md-12
                .pull-right= f.submit 'Create account', class: 'btn btn-primary create-account-btn'

        #already-have-account.col-md-4
          =link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-block btn-default' do
            %i.fa.fa-google-plus
            Sign in with Google
          =link_to user_omniauth_authorize_path(:github), class: 'btn btn-block btn-default' do
            %i.fa.fa-github
            Sign in with Github
          %p Your AutoTest account can be used to access any AutoTest product or service.
          = link_to 'I already have a AutoTest account', login_path
