.col-md-6
  %h1 Test Signup Form
  = form_tag(test_form_post_path(project_id: @project_id), class: 'test-form') do
    = label_tag("Name* (required)")
    = text_field_tag("name", nil, class: 'form-control')
    %br
    = label_tag("email")
    = email_field_tag("email", nil, class: 'form-control')
    %br
    = label_tag("password")
    = password_field_tag("password", nil, class: 'form-control')
    %br
    = label_tag("password_confirmation")
    = password_field_tag("password_confirmation", nil, class: 'form-control')
    %br
    = label_tag("company")
    = text_field_tag("company", nil, class: "form-control")
    %br
    = label_tag("plan")
    = select_tag("plan", options_for_select([["Free $0/monthly",1], ["Plus $19.99/monthly", 2]]))
    %br
    = label_tag("mailing_list")
    = radio_button_tag("mailing_list", "y", false)
    Yes
    = radio_button_tag("mailing_list", "n", false)
    No
    %br
    = check_box_tag("terms_and_conditions")
    = label_tag("terms_and_conditions", "I Accept Terms and Conditions")
    (
    = link_to("View Terms and Conditions", test_terms_path(project_id: @project.id))
    )
    %br
    = submit_tag("Save", class: 'btn btn-default btn-info', style: "background-color: #428bca")
.col-md-1
.col-md-5
  #sample-intro
    %h1 Sample Project
    %p This is just a sample project.  Take a few minutes to explore, record a few tests, and watch them run in developer mode.

  #sample-trivia
    %h1 Gorilla Trivia
    %p If you were taking a casual stroll through the jungle and bumped into King Kong, you shouldn't be afraid to pet him because:
    %span#trivia-answer __________ ?
    %button#trivia-answer-button Tell me the answer!

  #sample-select
    %h1 Purchase an Ape
    %select#selected-ape
      %option{ selected: 'selected', disabled: true } Choose one
      %option{ value: 'Gorilla' } Gorilla
      %option{ value: 'Chimpanzee' } Chimpanzee
      %option{ value: 'Baboon' } Baboon
      %option{ value: 'Grape Ape' } Grape Ape
    %br
    %button#purchase-ape Put In Shopping Cart

  #sample-shopping-cart
    %h3 Shopping Cart
    #ape-bin
