.row
  .col-md-12{style: "border: 1px solid #ccc; padding: 10px 10px; margin-bottom: 10px;"}
    %h5= credit_card.name
    %p
      #{credit_card.cc_type} ending in #{credit_card.last4}
    %p Expires on: #{credit_card.exp_month} / #{credit_card.exp_year}
    - unless credit_card.default?
      = link_to "Make Default", "#"
      |
      = link_to "Delete", credit_card_path(credit_card), method: :delete, confirm: "Are you sure?"