- content_for :title do
  Manage Billing

- content_for :head do
  = javascript_include_tag "https://js.stripe.com/v2/", 'credit_card'
  :javascript
    Stripe.setPublishableKey("#{ENV["STRIPE_PUBLISHABLE_KEY"]}")

.row
  = pape_title('Manage Billing', 'fa-credit-card')
  = render 'shared/user_metrics'


.page-content.blocky
  .container
    - unless @default_credit_card.nil?
      = render partial: 'credit_card', locals: {credit_card: @default_credit_card}
    = render partial: 'credit_card', collection: @credit_cards

%section#widget-grid
  .row
    = render partial: 'new_credit_card_form', locals: {form_post_to: credit_cards_path}
