- content_for :head do
  = javascript_include_tag 'sessions', 'forms/login'
  = stylesheet_link_tag 'sessions'
- content_for :title do
  Reset Password

.row
  #login-box.col-md-4.col-md-offset-4
    .awidget.login-reg
      .awidget-head
      .awidget-body
        / Page title
        .page-title
          %h2 Gorilla Test - Reset Password
        .row
          .col-sm-12
            = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {class: 'form-vertical', id: 'login-form' }) do |f|
              = f.error_notification
              = devise_error_messages!
              = f.input :email, placeholder: 'Email Address', label: false
              .row
                .col-md-6
                  = f.submit 'Reset My Password', class: 'btn btn-info btn-block'
                .col-md-6

        .row
          .options.col-sm-12.text-center
            = link_to "Don't have an account?", new_user_registration_path
            %i.fa.fa-circle
            = link_to "Return to Login", login_path

