.container.text-center
  .row{style: 'margin-bottom: 60px;'}
    %h1.featurette-heading{style: 'font-size: 50px; color: red;'} Complex QA Testing Made Simple.
    %p{style: 'font-size: 20px;color: green;'}
      Write tests for your web applications in plain English, and with a single click run them across all browsers. Simple.
    %p
      -#%button.btn.btn-success.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", style: 'margin: 40px 0 20px;'}
      -#  Request a Beta Invitation
      = link_to 'Get Started', get_started_path, class: 'btn btn-primary btn-lg'
  .row{style: 'margin-bottom: 80px;'}
    .col-md-12
      = image_tag('welcome/autotest-automate-qa-testing-dashboard.png', class: 'img-responsive')

  %hr.featurette-divider/

.container.marketing
  / Three columns of text below the carousel
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        AutoTest automates testing.
        %span.text-muted See for yourself.
      %p.lead
        Set up your
        %strong QA test in 20 seconds,
        and not over and over. With one click AutoTest detects your mouse clicks
        and creates automated tests in the background. Works with any web app, and set them up automatically on our servers.
    .col-md-5
      = image_tag('welcome/autotest-cucumber-feautes-automated.jpg', class: 'featurette-image img-responsive')
  %hr.featurette-divider/
  .row.featurette
    .col-md-5
      = image_tag('welcome/autotest-runs-on-all-browsers.jpg', class: 'featurette-image img-responsive')
    .col-md-7
      %h2.featurette-heading
        AutoTest Multiple Browsers.
        %span.text-muted With a single click.
      %p.lead
        Your productivity relies on fast test results. AutoTest runs your tests faster than your Macbook Pro, EC2,
        your local server, or any other service, and
        %strong across all Browsers!
  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        AutoTest Automatic Parallelization.
        %span.text-muted 16-way parallelization.
      %p.lead
        We can automatically parallelize your tests across multiple machines. With up to
        %strong 16-way parallelization,
        your test turn-around time can be massively reduced.
    .col-md-5
      = image_tag('welcome/autotest-amazon-web-services-server-architecture.jpg', class: 'featurette-image img-responsive')

= render 'welcome/beta_invitation_form'
