- content_for :title do
  Accept Invitation

- content_for :head do
  = javascript_include_tag 'forms/registration'
  = stylesheet_link_tag 'sessions'

.container
  .row
    .col-md-12
      %h1 Gorilla Test
.row
  #form.col-md-12
    .container
      .row
        #create_your_account.col-md-12
          .row
            .col-md-1
              %i.fa.fa-user.fa-4x
            .col-md-11
              %h2 Create your Gorilla Test account
      .row
        .col-md-12
          %h3 The basics
      .row
        .col-md-8
          = simple_form_for resource, :as => resource_name, :url => '/invitation/accept', html: {:method => :put, class: 'form-vertical'}, required: true do |f|
            = devise_error_messages!

            #form-content
              .row
                .col-md-6
                  = f.hidden_field :invitation_token
                  = f.input :email
              .row
                .col-md-6
                  = f.input :password
                .col-md-6
                  = f.input :password_confirmation
            #form-options.row
              .col-md-12
                .pull-right= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary"
        - unless session["devise.user_attributes"]
          #already-have-account.col-md-4
            =link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-block btn-default' do
              %i.fa.fa-google-plus
              Sign up with Google
            =link_to user_omniauth_authorize_path(:github), class: 'btn btn-block btn-default' do
              %i.fa.fa-github
              Sign up with Github
            %p Your Gorilla Test account can be used to access any Gorilla Test product or service.
            = link_to 'I already have a Gorilla Test account', login_path
