=javascript_include_tag "plugins/jquery.tagsinput.min"
=javascript_include_tag "invitations"
.row
  = pape_title('Invite Users', 'fa-group')
  = render 'shared/user_metrics'

%section#widget-grid
  .row
    %article.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false"}
        %header
          %span.widget-icon
            %i.fa.fa-edit
          %h2 Invite users to try Gorilla Test!
        %div
          .jarviswidget-editbox
          .widget-body.no-padding
            = simple_form_for User.new, :url => '/invitation', :html => {:method => :post, class: 'invite-modal-form smart-form'} do |f|
              = label_tag "Select a Project to invite users to (optional): "
              = select_tag "project_id", options_for_select([["None", nil]] + (current_user.projects.map{|p| [p.name, p.id.to_s]}))
              = f.input :email, label: "Email (enter addresses separated by a comma)"
              %footer
                = f.submit "Invite Users", class: "btn btn-primary button"
