.modal.fade{id: "selectBrowers_#{@project.id}", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = form_tag run_project_path(@project), class:"scenario-run" do
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Run All Tests
        .modal-body
          .row
            .col-sm-4
              %p Select your browsers
              %h5 Windows
              %ul
                %li
                  = check_box_tag "browsers[]", "windows_firefox"
                  = image_tag('icons/firefox.png', alt: "Firefox")
                  Firefox
                %li
                  = check_box_tag "browsers[]", "windows_chrome"
                  = image_tag('icons/chrome.png', alt: "Chrome")
                  Chrome
                %li
                  = check_box_tag "browsers[]", "windows_ie9"
                  = image_tag('icons/ie.png', alt: "Internet Explorer 9")
                  Internet Explorer 9
                %li
                  = check_box_tag "browsers[]", "windows_ie10"
                  = image_tag('icons/ie.png', alt: "Internet Explorer 10")
                  Internet Explorer 10
                %li
                  = check_box_tag "browsers[]", "windows_ie11"
                  = image_tag('icons/ie.png', alt: "Internet Explorer 11")
                  Internet Explorer 11
            .col-sm-4
              %h5 OS X
              %ul
                %li
                  = check_box_tag "browsers[]", "mac_safari"
                  = image_tag('icons/safari.png', alt: "Safari")
                  Safari
                %li
                  = check_box_tag "browsers[]", "mac_firefox"
                  = image_tag('icons/firefox.png', alt: "Firefox")
                  Firefox
                %li
                  = check_box_tag "browsers[]", "mac_chrome"
                  = image_tag('icons/chrome.png', alt: "Chrome")
                  Chrome
            .col-sm-4
              %h5 Linux
              %ul
                %li
                  = check_box_tag "browsers[]", "linux_firefox"
                  = image_tag('icons/firefox.png', alt: "Firefox")
                  Firefox
                %li
                  = check_box_tag "browsers[]", "linux_chrome"
                  = image_tag('icons/chrome.png', alt: "Chrome")
                  Chrome
          .row
            .col-sm-12
              %span.hide.concurrency-warning
                Your plan only allows
                %span.concurrency-limit
                  #{@concurrency_limit}
                concurrent browsers for a test run
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = submit_tag "Run Tests", class: "btn btn-primary run-test", disabled: true
