%li
  = link_to project.name, project_path(project)
  .pull-right
    %a{data: {toggle: "modal", target: "#embed-modal-#{project.id}"}, class:'view-embed-code'} View Embed Code
    -if !project.script_verified? # || project.features.empty?
      |
      = link_to "Verify Embedded Script", project_verify_script_path(project), class:'verify-script'
    -else
      -if project.owner?(current_user)
        |
        %a{data: {toggle: "modal", target: "#invite-user-#{project.id}"}} Invite A User
        |
      -if Rails.env.development?
        =link_to "View Test Page", test_form_path(project_id: project.id), target: "_blank"
        |
      -if project.owner?(current_user)
        = link_to "Delete Project", project_path(project), method: :delete, confirm: 'Are you sure?'
      |
      = link_to record_glyph, project.url, {target: "_blank"}
      |
      = play_button(project)
  %div{id: "test_run-#{project.id}", style: "display: none;"}
    = form_tag run_project_path(project), class:"scenario-run", id: "project_#{project.id}" do
      %div.pull-left{style: "width: 33%"}
        %h4 Windows
        %ul{style: "list-style-type: none;"}
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "windows_firefox"
            = image_tag('icons/firefox.png', alt: "Firefox")
            Firefox
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "windows_chrome"
            = image_tag('icons/chrome.png', alt: "Chrome")
            Chrome
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "windows_ie9"
            = image_tag('icons/ie.png', alt: "Internet Explorer 9")
            Internet Explorer 9
          / %li{style: "border-top: 0px; padding: 2px;"}
          /   = check_box_tag "PhantomJS"
          /   = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
          /   PhantomJS
      / %div.pull-left{style: "width: 33%"}
      /   %h4 Mac OS X
      /   %ul{style: "list-style-type: none;"}
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "Firefox"
      /       = image_tag('icons/firefox.png', alt: "Firefox")
      /       Firefox
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "Chrome"
      /       = image_tag('icons/chrome.png', alt: "Chrome")
      /       Chrome
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "Safari"
      /       = image_tag('icons/safari.png', alt: "Safari")
      /       Safari
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "PhantomJS"
      /       = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
      /       PhantomJS
      %div.pull-left{style: "width: 33%"}
        %h4 Linux
        %ul{style: "list-style-type: none;"}
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "linux_firefox"
            = image_tag('icons/firefox.png', alt: "Firefox")
            Firefox
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "linux_chrome"
            = image_tag('icons/chrome.png', alt: "Chrome")
            Chrome
          / %li{style: "border-top: 0px; padding: 2px;"}
          /   = check_box_tag "browsers[]", "windows_ie9"
          /   = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
          /   PhantomJS
      %div.clearfix
      %div.buttons{style: "padding: 5px; text-align: right;"}
        %span.hide.concurrency-warning
          Your plan only allows
          %span.concurrency-limit
            #{@concurrency_limit}
          concurrent browsers for a test run
        = submit_tag "Run Tests", class: "btn btn-primary run-test", disabled: true

  #add-feature.modal.fade
    .modal-dialog
      .modal-content
        = simple_form_for [project, project.features.new] do |f|
          .modal-header
            %button.close{data: {dismiss: "modal"}, aria:{hidden: true}} &times;
            %h4.modal-title Add Feature to #{project.name}
          .modal-body
            = f.input :name
          .modal-footer
            %button.btn.btn-info{data: {dismiss: "modal"}, aria: {hidden: true}} Close
            = f.submit "Add Feature", class: "btn btn-primary"

  = render "embed_script_modal", project: project, show_buttons: true
  .modal.fade{id: "invite-user-#{project.id}"}
    .modal-dialog
      .modal-content
        = simple_form_for User.new, :url => '/invitation', :html => {:method => :post, class: 'invite-modal-form'} do |f|
          .modal-header
            %button.close{data: {dismiss: "modal"}, aria:{hidden: true}} &times;
            %h4.modal-title Invite A User
          .modal-body
            = f.hidden_field :project_id, value: project.id
            = f.input :email, label: "To invite your friends, and colleagues to #{project.name}, just enter their email:"
          .modal-footer
            %button.btn.btn-info{data: {dismiss: "modal"}, aria: {hidden: true}} Close
            = f.submit "Invite User", class: "btn btn-primary", disabled: !project.has_invitations_left?
            -unless project.has_invitations_left?
              %p You are out of invitations. Click #{link_to "here", edit_user_registration_path(anchor: "change-plan")} to upgrade your plan to invite more users.

