.modal.fade{id: "selectBrowers_#{scenario.id}", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = form_tag run_scenario_project_test_path(@project, scenario.id), class:"scenario-run" do
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title= scenario.name
        .modal-body
          = render 'projects/browser_list'
          .row
            .col-sm-12
              %span.hide.concurrency-warning
                Your plan only allows
                %span.concurrency-limit
                  #{@concurrency_limit}
                concurrent browsers for a test run
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = submit_tag "Run Tests", class: "btn btn-primary run-test", disabled: true
