.row
  .col-sm-12
    .well
      %table.table.table-striped.table-forum
        %thead
          %tr
            %th Test Name
            %th.text-center.hidden-xs.hidden-sm{style: "width: 100px;"} Tester
            %th.text-center.hidden-xs.hidden-sm{style: "width: 100px;"} Start Time
            %th.hidden-xs.hidden-sm{style: "width: 200px;"} Duration
            %th
            %th
        %tbody
          / TR
          - @scenarios.each do |scenario|
            %tr
              %td= link_to scenario.name, project_test_test_runs_path(@project, scenario.slug)
              %td.text-center.hidden-xs.hidden-sm
                = scenario.all_test_runs.first.user.name
              %td.text-center.hidden-xs.hidden-sm
                #{distance_of_time_in_words_to_now(scenario.all_test_runs.first.created_at)} ago
              %td.hidden-xs.hidden-sm
                = duration_to_hours_minutes_seconds(scenario.all_test_runs.first.duration)
              %td.hidden-xs.hidden-sm
                = play_button(scenario)
                = render 'projects/select_browsers'
              %td.hidden-xs.hidden-sm
                = play_developer_mode_button(scenario)



