.page-content.blocky
  .container
    /= render 'shared/application/side_menu'
    /.mainy
    / Page title
    %ol.breadcrumb
      %li
        = link_to "Projects", projects_path
      %li
        = link_to @project.name
      %li.active
        = link_to "Settings"
    = render 'sidebar'
    %div.tab-content
      #home.tab-pane.active
        %br
        = simple_form_for @project do |f|
          = f.input :name
          = f.input :url
          = f.submit "Save Project", class: "btn btn-success"
      #users.tab-pane
        %br
        - @project.users.each do |user|
          - unless user.encrypted_password.blank?
            %user_block{style: "float: left; width: 300px; background-color: #fff; margin-right: 10px; padding: 10px; border: 1px solid #ccc; margin-bottom: 10px;"}
              .pull-left{style: "margin-right: 10px; border: 1px solid #333;"}
                %img{src: "http://www.gravatar.com/avatar/#{user.gravatar_hash}?s=48"}
              - unless @project.owner?(user)
                .pull-right
                  = link_to glyph('remove'), remove_user_project_path(@project, user.id), method: :post
              %span{style: "font-size: 1.6em; font-weight: bold;"}= user.name
              - if @project.owner?(user)
                %span{style: "font-size: 1.2em"} (owner)
              - else
                %span{style: "font-size: 1.2em"} (member)
              %br
              = user.email