-content_for :head do
  =javascript_include_tag "step_status"

.row
  = pape_title('Projects', 'fa-desktop')
  = render 'shared/user_metrics'

.pull-right
  - if current_user.can_create_project?
    = link_to glyph_button("plus", "Add Project"), new_project_path(), class: "btn btn-success"
    %br
    %br
  -else
    %a.btn.btn-success#add-project-button{href: change_plan_path(plan:"maxed")}
      %span.glyphicon.glyphicon-plus
      Add Project
/ %ol.breadcrumb
/   %li.active
/      = link_to "Projects", projects_path
.row
  .col-md-12
    / Project widget
    .awidget
      /.awidget-head
      / .pull-right
      /   %a{data: {toggle: "modal", target: "#add-project"}} Add Project
      / %h3 Projects
      .awidget-body
        - if current_user.projects.size == 0
          %p
            You don't current have any projects, would you like to
            %a{href: new_project_path, data: {toggle: "modal", target: "#add-project"}} create one
        - else
          %ul.project
            = render partial: 'project', collection: @projects
          .clearfix


#add-project.modal.fade
  .modal-dialog
    .modal-content
      = simple_form_for Project.new do |f|
        .modal-header
          -unless current_user.projects.size == 0
            %button.close{data: {dismiss: "modal"}, aria:{hidden: true}} &times;
          %h4.modal-title Add Project
        .modal-body
          = f.input :name
          = f.input :url
          %p Does your project have HTTP basic access authentication? If so enter the credentials below:
          = f.input :basic_auth_username
          = f.input :basic_auth_password
        .modal-footer
          -unless current_user.projects.size == 0
            %button.btn.btn-info{data: {dismiss: "modal"}, aria: {hidden: true}} Close
          = f.submit "Add Project", class: "btn btn-primary"
