-content_for :head do
  =javascript_include_tag "step_status"

- content_for :title do
  Projects - #{@project.name}

.row
  = pape_title("Projects > #{@project.name}", 'fa-desktop')
  = render 'shared/user_metrics'

%span{style: "display: none;", class:"script-status", "script-verified" => "#{@project.script_verified?}" }

.row
  .col-sm-12
    = link_to raw("#{glyph('cog')} Settings"), edit_project_path(@project), class: "btn btn-primary btn-xs" if @project.owner?(current_user)
    = link_to record_glyph, @project.url, {target: "_blank", class: "btn btn-danger btn-xs"} if @project.script_verified?
    = play_button(@project) if @project.script_verified?
    /- unless @project.script_verified?
    /  %a{data: {toggle: "modal", target: "#embed-modal-#{@project.id}"}, class:'view-embed-code btn btn-primary btn-xs'}
    /    %span.glyphicon.glyphicon-eye-open
    /    View Embed Code
    = link_to glyph_button("ok", "Verify Embedded Script"), "#", data: {toggle: "modal", target: "#embed-modal-#{@project.id.to_s}"}, class:'verify-script btn btn-primary btn-xs' unless @project.script_verified?
    = link_to delete_glyph, project_path(@project), method: :delete, confirm: 'Are you sure?', class: "btn btn-danger btn-xs" if @project.owner?(current_user) && !@project.script_verified?


.row
  .col-sm-12
    / Project widget
    .awidget
      .awidget-head
        %h3 Tests
      .awidget-body
        - if @project.scenarios.size == 0
          %p
            You haven't added any tests to this project, would you like to
            %a{href: @project.url, target: "_blank"} record one
        - else
          %ul.project{style: "list-style-type: none;"}
            = render partial: 'scenarios/scenario', collection: @scenarios
          .clearfix

= render 'embed_script_modal', project: @project, show_buttons: false
