-content_for :head do
  = javascript_include_tag "step_status"
  = javascript_include_tag "scenario_created"

- content_for :title do
  Projects - #{@project.name}

-#TODO: Move these to the head. -Lance
%span{style: "display: none;", class:"script-status", "script-verified" => "#{@project.script_verified?}" }
%span{style: "display: none;", id:"pusher-project-id", "project-id" => "#{@project.id.to_s}" }

= render 'projects/projects_header'

#projects.row
  .col-sm-12
    - if @project.script_verified? && @project.scenarios.size < 0
      .row
        .verify.col-sm-6.col-sm-offset-3.padding-top.text-center
          %p Record your first test!
          = link_to link_to_record(@project), target: '_blank', class: 'btn btn-info btn-lg btn-block' do
            %i.fa.fa-plus
            New Test
    - if @project.scenarios.size > 0
      .project-stats.row
        .col-sm-7
          .row
            .col-sm-1
              .badge.alert-success 11
            .col-sm-1
              .badge.alert-danger 10
            .col-sm-1
              .badge.alert-info 9
            .col-sm-2
              = play_button(@project, "Run All")
              = render 'projects/select_browsers_all'
            .col-sm-2
              = link_to link_to_record(@project), target: '_blank', class: 'btn btn-info btn-sm' do
                %i.fa.fa-plus
                New Test
      .well
        %table.table.table-striped.table-forum.table-hover
          %tbody
            - @scenarios.each do |scenario|
              %tr
                %td
                  %i.fa.fa-fw{class: "#{bang_or_check(scenario.test_runs.last)}"}
                  = distance_of_time_in_words_to_now(scenario.created_at) + ' ago'
                %td= link_to scenario.name, project_test_test_runs_path(@project, scenario.slug)
                %td
                  = link_to '#', "data-original-title" => "Move to folder", "data-placement" => "bottom", rel: "tooltip", title: "Watch Test Run Live", class: 'btn btn-default btn-sm action' do
                    %i.fa.fa-paper-plane
                  = link_to '#', "data-original-title" => "Move to folder", "data-placement" => "bottom", rel: "tooltip", title: "Email To Developer", class: 'btn btn-default btn-sm action' do
                    %i.fa.fa-video-camera
                    =# play_developer_mode_button(scenario)
                  = play_button(scenario, 'Run')
                  %button{data: {toggle: "modal", target: "#alert-dev-modal-#{scenario.id.to_s}"}, class: "btn btn-info btn-sm"} Send Test Details to Dev
                  = render 'scenarios/email_to_developer_modal', test_id: scenario.id.to_s, test_run: scenario.test_runs.detect{|t| t.status == "pass" || t.status == "fail"}
                  = render 'projects/select_browsers', scenario: scenario
    - unless @project.script_verified?
      .row
        .verify.col-sm-6.col-sm-offset-3.padding-top.text-center
          %p Please Verify that Gorilla Test has been added to your site.
          = link_to glyph_button("ok", "Verify Embedded Script"), "#", data: {toggle: "modal", target: "#embed-modal-#{@project.id.to_s}"}, class:'verify-script btn btn-info btn-lg btn-block'
          = render 'embed_script_modal', project: @project, show_buttons: false
