-content_for :head do
  =javascript_include_tag "step_status"
  =javascript_include_tag "scenario_created"

- content_for :title do
  Projects - #{@project.name}

.row
  = pape_title("Projects > #{@project.name}", 'fa-desktop')
  = render 'shared/user_metrics'

%span{style: "display: none;", class:"script-status", "script-verified" => "#{@project.script_verified?}" }
%span{style: "display: none;", id:"pusher-project-id", "project-id" => "#{@project.id.to_s}" }

.row
  .col-sm-12
    = link_to raw("#{glyph('user')} Invite Users to Project"), invitations_path(project_id: @project.id.to_s), class: "btn btn-info btn-xs"
    = link_to raw("#{glyph('cog')} Settings"), edit_project_path(@project), class: "btn btn-primary btn-xs" if @project.owner?(current_user)
    = link_to record_glyph, @project.url, {target: "_blank", class: "btn btn-danger btn-xs"} if @project.script_verified?
    = play_button(@project, "Run All Tests") if @project.script_verified?

    %div{id: "test_run-#{@project.id}", style: "display: none;"}
      = form_tag run_project_path(@project), class:"scenario-run", id: "project_#{@project.id}" do
        %div.pull-left{style: "width: 33%"}
          %h4 Windows
          %ul{style: "list-style-type: none;"}
            %li{style: "border-top: 0px; padding: 2px;"}
              = check_box_tag "browsers[]", "windows_firefox"
              = image_tag('icons/firefox.png', alt: "Firefox")
              Firefox
            %li{style: "border-top: 0px; padding: 2px;"}
              = check_box_tag "browsers[]", "windows_chrome"
              = image_tag('icons/chrome.png', alt: "Chrome")
              Chrome
            %li{style: "border-top: 0px; padding: 2px;"}
              = check_box_tag "browsers[]", "windows_ie9"
              = image_tag('icons/ie.png', alt: "Internet Explorer 9")
              Internet Explorer 9
            %li{style: "border-top: 0px; padding: 2px;"}
              = check_box_tag "browsers[]", "windows_ie10"
              = image_tag('icons/ie.png', alt: "Internet Explorer 10")
            %li{style: "border-top: 0px; padding: 2px;"}
              = check_box_tag "browsers[]", "windows_ie11"
              = image_tag('icons/ie.png', alt: "Internet Explorer 11")
        %div.pull-left{style: "width: 33%"}
          %h4 OS X
          %ul{style: "list-style-type: none;"}
            %li{style: "border-top: 0px; padding: 2px;"}
              = check_box_tag "browsers[]", "mac_safari"
              = image_tag('icons/safari.png', alt: "Safari")
              Firefox
            %li{style: "border-top: 0px; padding: 2px;"}
              = check_box_tag "browsers[]", "mac_firefox"
              = image_tag('icons/firefox.png', alt: "Firefox")
              Firefox
            %li{style: "border-top: 0px; padding: 2px;"}
              = check_box_tag "browsers[]", "mac_chrome"
              = image_tag('icons/chrome.png', alt: "Chrome")
              Chrome
            / %li{style: "border-top: 0px; padding: 2px;"}
            /   = check_box_tag "browsers[]", "windows_ie9"
            /   = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
            /   PhantomJS
        %div.pull-left{style: "width: 33%"}
          %h4 Linux
          %ul{style: "list-style-type: none;"}
            %li{style: "border-top: 0px; padding: 2px;"}
              = check_box_tag "browsers[]", "linux_firefox"
              = image_tag('icons/firefox.png', alt: "Firefox")
              Firefox
            %li{style: "border-top: 0px; padding: 2px;"}
              = check_box_tag "browsers[]", "linux_chrome"
              = image_tag('icons/chrome.png', alt: "Chrome")
              Chrome
            / %li{style: "border-top: 0px; padding: 2px;"}
            /   = check_box_tag "browsers[]", "windows_ie9"
            /   = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
            /   PhantomJS
        %div.clearfix
        %div.buttons{style: "padding: 5px; text-align: right;"}
          %span.hide.concurrency-warning
            Your plan only allows
            %span.concurrency-limit
              #{@concurrency_limit}
            concurrent browsers for a test run
          = submit_tag "Run Tests", class: "btn btn-primary run-test", disabled: true
    /- unless @project.script_verified?
    /  %a{data: {toggle: "modal", target: "#embed-modal-#{@project.id}"}, class:'view-embed-code btn btn-primary btn-xs'}
    /    %span.glyphicon.glyphicon-eye-open
    /    View Embed Code
    = link_to glyph_button("ok", "Verify Embedded Script"), "#", data: {toggle: "modal", target: "#embed-modal-#{@project.id.to_s}"}, class:'verify-script btn btn-primary btn-xs' unless @project.script_verified?
    = link_to delete_glyph, project_path(@project), method: :delete, confirm: 'Are you sure?', class: "btn btn-danger btn-xs" if @project.owner?(current_user) && !@project.script_verified?


.row
  .col-sm-12
    / Project widget
    .awidget
      .awidget-head
        %h3 Tests
      .awidget-body
        - if @project.scenarios.size == 0
          %p
            You haven't added any tests to this project, would you like to
            %a{href: @project.url, target: "_blank"} record one
        - else
          %ul.project{style: "list-style-type: none;"}
            = render partial: 'scenarios/scenario', collection: @scenarios
          .clearfix

= render 'embed_script_modal', project: @project, show_buttons: false
