-content_for :head do
  = javascript_include_tag "step_status"
  = javascript_include_tag "scenario_created"

- content_for :title do
  Projects - #{@project.name}

-#TODO: Move these to the head. -Lance
%span{style: "display: none;", class:"script-status", "script-verified" => "#{@project.script_verified?}" }
%span{style: "display: none;", id:"pusher-project-id", "project-id" => "#{@project.id.to_s}" }

= render 'projects/projects_header'

#projects.row
  .col-sm-12
    - if @project.script_verified? && @project.scenarios.size < 0
      .row
        .verify.col-sm-6.col-sm-offset-3.padding-top.text-center
          %p Record your first test!
          = link_to link_to_record(@project), target: '_blank', class: 'btn btn-info btn-lg btn-block' do
            %i.fa.fa-plus
            New Test
    - if @project.scenarios.size > 0
      .project-stats.row
        .col-sm-7#tour-project-show-overview
          .row
            .col-sm-1
              .badge.alert-success 11
            .col-sm-1
              .badge.alert-danger 10
            .col-sm-1
              .badge.alert-info 9
            .col-sm-2#tour-project-show-run-all
              = play_button(@project, "Run All")
              = render 'projects/select_browsers_all'
            .col-sm-2#tour-project-show-create-test
              = link_to link_to_record(@project), target: '_blank', class: 'btn btn-info btn-sm' do
                %i.fa.fa-plus
                New Test
      .well
        %table.table.table-striped.table-forum.table-hover
          %tbody#tour-project-show-tests-list
            - @scenarios.each do |scenario|
              %tr
                %td#tour-project-show-status
                  %i.fa.fa-fw{class: "#{bang_or_check(scenario.test_runs.last)}"}
                  = distance_of_time_in_words_to_now(scenario.created_at) + ' ago'
                %td{id: "#{most_recent?(@scenarios, scenario) ? 'tour-project-show-more-info' : nil}"}= link_to scenario.name, project_test_test_runs_path(@project, scenario.slug)
                %td#tour-project-show-developer-mode
                  .pull-right
                    -#Watch Test Run Live
                    = link_to '#', "data-original-title" => "Move to folder", "data-placement" => "bottom", rel: "tooltip", title: "Watch Test Run Live", class: 'btn btn-default btn-sm action' do
                      %i.fa.fa-video-camera
                      =# play_developer_mode_button(scenario)

                    -#Email to develooper
                    %button{data: {toggle: "modal", target: "#alert-dev-modal-#{scenario.id.to_s}"}, class: "btn btn-default btn-sm action", "data-original-title" => "Move to folder", "data-placement" => "bottom", rel: "tooltip", title: "Email To Developer"}
                      %i.fa.fa-paper-plane
                    = render 'scenarios/email_to_developer_modal', test_id: scenario.id.to_s, test_run: scenario.test_runs.detect{|t| t.status == "pass" || t.status == "fail"}

                    -#Run Scenario
                    .pull-right{id: "#{most_recent?(@scenarios, scenario) ? 'tour-project-show-overview' : nil}"}
                      = play_button(scenario, 'Run')
                    = render 'projects/select_browsers', scenario: scenario

    - unless @project.script_verified?
      .row
        .verify.col-sm-6.col-sm-offset-3.padding-top.text-center
          %p Please Verify that Gorilla Test has been added to your site.
          = link_to glyph_button("ok", "Verify Embedded Script"), "#", data: {toggle: "modal", target: "#embed-modal-#{@project.id.to_s}"}, class:'verify-script btn btn-info btn-lg btn-block'
          = render 'embed_script_modal', project: @project, show_buttons: false

%ol.joyride-tour#project-show-tour
  %li{data: {id: "tour-project-show-start", button: 'Next'}}
    %h1 Where The Magic Happens
    %p The Project Page is where you'll likely be spending most of your time. Here we've got a sample project set up with a few tests already recorded. Try and hold off from clicking anything you're instructed to :)
  %li{data: {id: "tour-project-show-overview", button: 'Next'}}
    %h1 Ripe or Rotten?
    %p In this area you can get a quick glimpse of how the tests in your project are doing. These counts are based on how each test did the last time it was run. Tests that have never been run are not counted.
  %li{data: {id: "tour-project-show-run-all", button: 'Next'}}
    %p This button will run all of the tests in your project. Once you click, you'll choose which browsers and operating systems you want to run your tests on. Next, Nothing! Go work on something else. The tests will run on their own, you'll get an email when they're finished.
  %li{data: {id: "tour-project-show-create-test", button: 'Next'}}
    %h1 Creating Tests
    %p Clicking here will take you to the website you'll be testing with GorillaTest loaded and ready to create tests. Don't click here yet - We'll come back to this later in the tour.
  %li{data: {id: "tour-project-show-tests-list", button: 'Next'}}
    %h1 Ripe or Rotten?
    %p All of the tests in your project will be listed here.
  %li{data: {id: "tour-project-show-status", button: 'Next'}}
    %p Here you'll see the status and recency of each test
  %li{data: {id: "tour-project-show-run", button: 'Next'}}
    %p Run a individual Test on It's own, send an email containing links and details about a test to your dev team, or watch the test in developer mode
  %li{data: {id: "tour-project-show-developer-mode", button: 'Next'}}
    %h1 What is Developer Mode?
    %p In Developer Mode we run the test live in your browser. Your devs will find this extremely helpful when debugging. Note: If a bug happens in another browser/OS, you have to watch in that configuration in order to replicate
  %li{data: {id: "tour-project-show-more-info", button: 'Close'}}
    %h1 More Information
    %p Clicking on a test name will take you to the Test's Page. Go ahead and click on this one so we can show you what's there
