-content_for :head do
  =javascript_include_tag "step_status"
  =javascript_include_tag "scenario_created"

- content_for :title do
  Projects - #{@project.name}

.row
  = pape_title("Projects > #{@project.name}", 'fa-desktop')
  = render 'shared/user_metrics'

%span{style: "display: none;", class:"script-status", "script-verified" => "#{@project.script_verified?}" }
%span{style: "display: none;", id:"pusher-project-id", "project-id" => "#{@project.id.to_s}" }

.row
  .col-sm-12
    - if @project.script_verified?
      = link_to raw("#{glyph('user')} Invite Users to Project"), invitations_path(project_id: @project.id.to_s), class: "btn btn-info btn-xs"
      = link_to raw("#{glyph('cog')} Settings"), edit_project_path(@project), class: "btn btn-primary btn-xs" if @project.owner?(current_user)
      = play_button(@project, "Run All Tests")
      = render 'projects/platforms'
    - else
      = link_to glyph_button("ok", "Verify Embedded Script"), "#", data: {toggle: "modal", target: "#embed-modal-#{@project.id.to_s}"}, class:'verify-script btn btn-primary btn-xs'
    = link_to delete_glyph, project_path(@project), method: :delete, confirm: 'Are you sure?', class: "btn btn-danger btn-xs"

.row
  .col-sm-12
    - if @project.scenarios.size == 0 && @project.script_verified?
      %p
        You haven't added any tests to this project, would you like to
        = link_to 'record one',  @project.url, target: '_blank'
    - else
      %ul.project{style: "list-style-type: none;"}
        = render partial: 'scenarios/scenario', collection: @scenarios



= render 'embed_script_modal', project: @project, show_buttons: false
