:css
  #projects {
    margin-top: 40px;
  }
  #projects-header {

  }
  .settings, .invite {
    float: left;
    margin-right: 10px;
  }

-content_for :head do
  = javascript_include_tag "step_status"
  = javascript_include_tag "scenario_created"

- content_for :title do
  Projects - #{@project.name}

-#TODO: Move these to the head. -Lance
%span{style: "display: none;", class:"script-status", "script-verified" => "#{@project.script_verified?}" }
%span{style: "display: none;", id:"pusher-project-id", "project-id" => "#{@project.id.to_s}" }

#projects-header.row
  .col-sm-12
    %h1= @project.name
    = link_to raw("#{glyph('cog')}"), edit_project_path(@project), class: "btn btn-default btn-xs settings" if @project.owner?(current_user)
    = link_to raw("#{glyph('user')}"), invitations_path(project_id: @project.id.to_s), class: "btn btn-default btn-xs invite"
    -#%button.btn.btn-default{"data-placement" => "top", "data-toggle" => "tooltip", title: "Tooltip on top", type: "button"} Tooltip on top
.row
  .col-sm-12
    - if @project.script_verified?

      = play_button(@project, "Run All Tests")
    - else
      = link_to glyph_button("ok", "Verify Embedded Script"), "#", data: {toggle: "modal", target: "#embed-modal-#{@project.id.to_s}"}, class:'verify-script btn btn-primary btn-xs'
    = link_to delete_glyph, project_path(@project), method: :delete, confirm: 'Are you sure?', class: "btn btn-danger btn-xs"
    = render 'projects/platforms'

#projects.row
  .col-sm-12
    - if @project.scenarios.size == 0 && @project.script_verified?
      %p
        You haven't added any tests to this project, would you like to
        = link_to 'record one',  @project.url, target: '_blank'
    - else
      .well
        %table.table.table-striped.table-forum
          %tbody
            - @scenarios.each do |scenario|
              %tr
                %td= link_to scenario.name, project_test_test_runs_path(@project, scenario.slug)
                %td.hidden-xs.hidden-sm
                  = play_button(scenario)
                  = render 'projects/select_browsers', scenario: scenario
                %td.hidden-xs.hidden-sm
                  =# play_developer_mode_button(scenario)

= render 'embed_script_modal', project: @project, show_buttons: false
