-content_for :head do
  =javascript_include_tag "stepStatus"

%span{style: "display: none;", class:"script-status", "script-verified" => "#{@project.script_verified?}" }
/= render 'shared/application/side_menu'
/.mainy
/ Page title
- if @project.owner?(current_user)
  .pull-right
    = link_to raw("#{glyph('cog')} Project Configuration"), edit_project_path(@project), class: "btn btn-success"
    %button.btn.btn-danger{onclick: "alert('Feature not implemented')"}
      %span.glyphicon.glyphicon-remove
      Remove Project

%ol.breadcrumb
  %li
    = link_to "Projects", projects_path
  %li.active
    = link_to @project.name
.row
  .col-md-12
    / Project widget
    .awidget
      .awidget-head
        %h3 Tests
      .awidget-body
        - if @project.scenarios.size == 0
          %p
            You haven't added any features to this project, would you like to
            %a{href: new_project_path, data: {toggle: "modal", target: "#add-feature"}} create one
        - else
          %ul.project{style: "list-style-type: none;"}
            = render partial: 'scenarios/scenario', collection: @scenarios
          }
          .clearfix
      / Project widget

= render 'embed_script_modal', project: @project, show_buttons: false
