-content_for :head do
  = javascript_include_tag "step_status"
  = javascript_include_tag "scenario_created"

- content_for :title do
  Projects - #{@project.name}

.row
  = pape_title("#{@project.name}", 'fa-desktop')

%span{style: "display: none;", class:"script-status", "script-verified" => "#{@project.script_verified?}" }
%span{style: "display: none;", id:"pusher-project-id", "project-id" => "#{@project.id.to_s}" }

.row
  .col-sm-12
    - if @project.script_verified?
      = link_to raw("#{glyph('user')} Invite Users to Project"), invitations_path(project_id: @project.id.to_s), class: "btn btn-info btn-xs"
      = link_to raw("#{glyph('cog')} Settings"), edit_project_path(@project), class: "btn btn-primary btn-xs" if @project.owner?(current_user)
      = play_button(@project, "Run All Tests")
    - else
      = link_to glyph_button("ok", "Verify Embedded Script"), "#", data: {toggle: "modal", target: "#embed-modal-#{@project.id.to_s}"}, class:'verify-script btn btn-primary btn-xs'
    = link_to delete_glyph, project_path(@project), method: :delete, confirm: 'Are you sure?', class: "btn btn-danger btn-xs"
    = render 'projects/platforms'

.row
  .col-sm-12
    - if @project.scenarios.size == 0 && @project.script_verified?
      %p
        You haven't added any tests to this project, would you like to
        = link_to 'record one',  @project.url, target: '_blank'
    - else
      .well
        %table.table.table-striped.table-forum
          %thead
          %tbody
            - @scenarios.each do |scenario|
              %tr
                %td= link_to scenario.name, project_test_test_runs_path(@project, scenario.slug)
                %td.hidden-xs.hidden-sm
                  = play_button(scenario)
                  = render 'projects/select_browsers', scenario: scenario
                %td.hidden-xs.hidden-sm
                  =# play_developer_mode_button(scenario)

= render 'embed_script_modal', project: @project, show_buttons: false
