%h1 Hi

%h2 Projects

- if !@projects.size == 0
  - @projects.each do |project|
    %h4= project.name 
- else
  %p 
    You haven't created a project yet. 
    = link_to "Create one now", "#add-project", data: {toggle: "modal"}

#add-project.modal.fade{role: "dialog", "aria-labelledby" => "addProjectLabel", "aria-hidden" => "true"}
  .modal-dialog
    = simple_form_for [current_user.company, Project.new] do |f|
      .modal-header
        %button.close{data: {dismiss: "modal"}, "aria-hidden" => "true"} &times;
        %h4 Add Project
      .modal-body
        = f.input :name 
        = f.input :url
      .modal-footer
        = f.submit "Create Project", class: "btn"
