/ Page content
.page-content.blocky
  .container
    .row
      .col-md-12
        .awidget.login-reg
          .awidget-head
          .awidget-body
            / Page title
            .page-title.text-center
              %h2 Login
              %hr/
            / Page title
            %br/
            = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
              = f.error_notification
              = devise_error_messages!
              = f.input :email
              = f.input :password
              = f.input :remember_me
              %hr/
              .row
                .form-group
                  .col-lg-12
                    = f.submit 'Login', class: 'btn btn-success btn-lg btn-block'




