.pull-right.view-test_run{style: "width: 80px; background-color: #ccc; height: 100%; padding-top: 20px; padding-bottom: 20px; padding-left: 25px;"}
  = link_to glyph("play", {style: "font-size: 1.8em;"}), test_run.is_a?(ScenarioTestRun) ? project_test_test_run_path(@project, @scenario, test_run) : project_test_run_path(@project, test_run)
.test_run_details{style: "padding-left: 10px;"}
  %h3{style: "margin-top: 2px;"} Test Run (#{test_run.timestamp})
  %table
    %tr
      %th{style: "padding-right: 5px;"} Ran By:
      %td{style: "width: 200px;"}
        = gravatar_image_tag(test_run.user, 16)
        = test_run.user.name
      %th{style: "padding-right: 5px;"} Ran:
      %td{style: "width: 200px;"}
        #{distance_of_time_in_words_to_now(test_run.created_at)} ago
      %th{style: "padding-right: 5px;"} Duration:
      %td= duration_to_hours_minutes_seconds(test_run.duration)
