.panel-heading.panel-status
  %h4.panel-title
  =image_tag "icons/#{test.browser}-24.png"
  = "#{test.platform.capitalize} #{test.browser.capitalize}"
  .pull-right
    %a{class: 'collapsed see-test-detail', href: "##{@test_run.id}_#{test.platform}_#{test.browser}_channel", data: {toggle: "collapse"}}
      View All
  - if test.status != nil
    %br
    %strong Completed On:
    = test.updated_at.strftime('%m/%d/%Y %H:%M')
%div{id: "#{@test_run.id}_#{test.platform}_#{test.browser}_channel", class: "#{test.status != nil ? "collapse" : ""}"}
  .panel-body.terminal
    / %p Starting test...
    %ul.steps-list{id: "#{test.channel_name}-scenario-steps-#{@test_run.scenario.id.to_s}"}
      - test.test_history.history_line_items.each.each do |step|
        %li
          = status_glyph(step.status)
          = step.text
          -if step.status == "fail"
            (
            = link_to "View Screenshot", "https://s3-us-west-2.amazonaws.com/autotestio-#{Rails.env}/#{test.screenshot_filename}", target: "_blank", class: "screenshot-link"
            )

