- content_for :title do
  Project - #{@project.name} - #{@scenario.name}
= javascript_include_tag 'step_status'

= render 'projects/projects_header'
.row.latest-test-status
  .col-sm-12
    %p
      = link_to "See steps in this test", "#test-steps-list", data: {toggle: "collapse"}
    #test-steps-list.panel-collapse.collapse
      .panel-body.terminal
        %ul.steps-list
          - @scenario.steps.each do |step|
            %li #{step.to_s}
  - if @scenario.all_test_runs.any?
    .col-sm-6
      Latest Test Run -&nbsp;
      .test-status-header.test-index
        Status:
        = test_run_status(@scenario.all_test_runs.first)
      &nbsp;|&nbsp; Ran on:
      = @scenario.all_test_runs.first.timestamp
  .col-sm-1
    = play_button(@scenario, 'Run')
    = render 'projects/select_browsers', scenario: @scenario

.row
  .col-sm-12
    .well
      %table.table.table-striped.table-forum.table-hover
        %tbody#tour-project-show-tests-list
          - @scenario.all_test_runs.each_with_index do |test_run, index|
            %tr{id: "#{index == 0 ? 'tour-test-runs-results' : nil}"}
              %td.cell-small
                .smart-timeline-icon{class: "#{status_color(test_run.status)} #{test_run_status_class(test_run.try(:status))}"}
                  %i.fa.fa-fw{class: "#{bang_or_check(test_run.try(:status))}"}
              %td.light-gray
                = distance_of_time_in_words_to_now(test_run.created_at) + ' ago'
              - if test_run.is_a?(ScenarioTestRun)
                %td.large-font-cell= link_to test_run.timestamp, project_test_test_run_path(@project, @scenario.slug, test_run)
              -else
                %td.large-font-cell= link_to test_run.timestamp, project_test_run_path(@project, test_run)
              %td.cell-small
                %button{data: {toggle: "modal", target: "#alert-dev-modal-#{@scenario.id}-#{test_run.id}"}, class: "btn btn-info btn-sm action", "data-original-title" => "Move to folder", "data-placement" => "bottom", rel: "tooltip", title: "Email To Developer"}
                  %i.fa.fa-paper-plane
                = render 'scenarios/email_to_developer_modal', test_id: @scenario.id.to_s, test_run: test_run
              %td.cell-small
                = link_to test_run.is_a?(ScenarioTestRun) ? project_test_test_run_path(@project, @scenario, test_run) : project_test_run_path(@project, test_run), class:"btn btn-default btn-sm" do
                  %i.fa.fa-info
                  &nbsp;More Info

%ol.joyride-tour#test-runs-tour
  %li{data: {id: "tour-test-runs-start", button: 'Next'}}
    %h1 Test Page
    %p This is your test's page!
  %li{data: {id: "tour-test-runs-more", button: "Next"}}
    %p Check what steps your test is comprised of
  %li{data: {id: "tour-test-runs-results", button: "Next"}}
    %h1 Test Results
    %p In this area you'll see each information about each time your test was run, and be able to get more info, email info to dev, or watch the test in dev mode
  %li{data: {id: "tour-test-runs-go", button: "Close"}}
    %h1 Let 'Er Rip
    %p Now go ahead and click here, let's run a test! To keep things simple, just choose one or two browsers on the next screen and run the test.
