
- content_for :head do
  =javascript_include_tag "stepStatus"
  :javascript
    channels = []
    window.channels = channels
    #{
      @test_run.browser_tests.map { |test| "window.channels.push(window.pusher.subscribe('#{test.channel_name}'));"}.join(' ')
    }
    window.sec = #{@test_run.duration}
    window.completed = #{!@test_run.completed_at.nil?}

.page-content.blocky
  .container
    %ol.breadcrumb
      %li
        = link_to "Projects", projects_path
      %li
        = link_to @scenario.feature.project.name, project_path(@project)
      %li
        = link_to @feature.name, project_feature_path(@project, @feature)
      %li
        = link_to @scenario.name, project_feature_scenario_path(@project, @feature, @scenario)
      %li.active
        = link_to "Test Run ##{@test_run.number}", project_feature_scenario_test_run_path(@project, @feature, @scenario, @test_run)
    %table.test_run_header{style: "width: 100%; font-size: 1.2em"}
      %tr
        %th{style: "width: 100px;"} Started By:
        %td
          = gravatar_image_tag(current_user, 16)
          = @test_run.user.name
        %th{style: "width: 100px;"} Started On:
        %td= @test_run.created_at.strftime('%A at %H:%M')
      %tr
        %th{style: "width: 100px;"} Status:
        %td
          = test_run_status(@test_run)
        %th{style: "width: 100px;"} Duration:
        %td= duration_to_hours_minutes_seconds(@test_run.duration)

    %br
    %br

    - @test_run.browser_tests.each do |test|
      - if test.status != nil
        .test{class: "#{test.status}"}
          = render partial: 'test_history', locals: {test: test}
      - else
        .test
          = render partial: 'test', locals: {test: test}
