- content_for  :title do
  Project - #{@project.name} - #{@scenario.name} - #{@test_run.number}
- content_for :head do
  =javascript_include_tag "step_status"
  :javascript
    channels = []
    window.channels = channels
    #{
      @test_run.browser_tests.map { |test| "window.channels.push(window.pusher.subscribe('#{test.channel_name}'));"}.join(' ')
    }
    window.sec = #{@test_run.duration}
    window.completed = #{!@test_run.completed_at.nil?}

.row
  = pape_title(raw("Projects > #{link_to @project.name, project_path(@project)} > #{link_to(@scenario.name, project_test_test_runs_path(@project, @scenario.slug))}"), 'fa-desktop')

.row
  .col-md-12
    / Project widget
    .awidget
      .awidget-head
        %h3 Test Run #{@test_run.timestamp}
      .awidget-body
        %table.test_run_header{style: "width: 100%; font-size: 1.2em"}
          %tr
            %th{style: "width: 100px;"} Started By:
            %td
              = gravatar_image_tag(@test_run.user, 16)
              = @test_run.user.name
            %th{style: "width: 100px;"} Ran:
            %td #{distance_of_time_in_words_to_now(@test_run.created_at)} ago
          %tr
            %th{style: "width: 100px;"} Status:
            %td
              = test_run_status(@test_run)
        %br
        %br

        - @test_run.browser_tests.each do |test|
          / - if test.status != nil
          / .test{class: "#{test.status}"}
          /   = render partial: 'test_history', locals: {test: test}
          / - else
          .test
            = render partial: 'test', locals: {test: test}
