- content_for  :title do
  Project - #{@project.name} - #{@scenario.name} - #{@test_run.number}
- content_for :head do
  =javascript_include_tag "step_status"
  :javascript
    channels = []
    window.channels = channels
    #{
      @test_run.browser_tests.map { |test| "window.channels.push(window.pusher.subscribe('#{test.channel_name}'));"}.join(' ')
    }
    window.sec = #{@test_run.duration}
    window.completed = #{!@test_run.completed_at.nil?}

= render 'projects/projects_header'

.row
  .col-sm-3
    %h3
      Ran On:
      %b
        #{@test_run.timestamp}
  .col-sm-3
    %h3
      Ran by:
      %b
        #{@test_run.user.name}
.row
  .col-sm-3
    %h3.test-status-header#tour-test-run-status
      Status:
      = test_run_status(@test_run)
  .col-sm-6
    .row
      .col-sm-1
        #tour-project-show-developer-mode
        = link_to developer_mode_url(@scenario), "target" => "_blank", "data-original-title" => "Move to folder", "data-placement" => "bottom", rel: "tooltip", title: "Watch Test Run Live", class: 'btn btn-default btn-warning btn-sm action' do
          %i.fa.fa-video-camera
      .col-sm-1
        %button{data: {toggle: "modal", target: "#alert-dev-modal-#{@scenario.id.to_s}-#{@test_run.id}"}, class: "btn btn-info btn-sm action", "data-original-title" => "Move to folder", "data-placement" => "bottom", rel: "tooltip", title: "Email To Developer"}
          %i.fa.fa-paper-plane
        = render 'scenarios/email_to_developer_modal', test_id: @scenario.id.to_s, test_run: @test_run

%hr
.row
  .col-sm-12
    - @test_run.browser_tests.each_with_index do |test, index|
      .test
        = render partial: 'test', locals: {test: test, id: "#{index == 0 ? 'tour-test-run-page' : ''}"}


%ol.joyride-tour#test-run-tour
  %li{data: {id: "tour-test-run-page", button: "Next"}}
    %h3 Ta da!
    %p Here you can see the test run through the steps. Each browser you are running the test on will have it's own step log, just scroll down the page. Leaving the page will NOT stop the test, so don't worry about watching.
  %li{data: {id: "tour-test-run-status", button: "Next"}}
    %h3 The Results
    %p This area shows you which browsers you ran it in, and the results in each browser.
  %li{data: {id: "tour-recent-updates", button: "Next"}}
    %h3 Recent Updates
    %p You're here to save time, and time you will save! Once you hit run these tests are good to go. Once they're done, you'll get an update (as well as an email if you have that setting turned on)
  %li{data: {id: "tour-now-your-turn"}}
    %h3 Now Your Turn
    %p
      You've seen tests in action, now it's time to create one. Click here to get back to the Project Page and go ahead and
      %b create a new test.
