%li{class: "scenario_#{scenario.id}", style: "margin-bottom: 5px;"}
  %h4
    = link_to scenario.name, project_test_test_runs_path(@project, scenario.slug)
  .pull-right
    = play_button(scenario)
    / = link_to delete_glyph, project_test_path(@project, scenario.slug), data: { confirm: 'Are you sure?' }, method: :delete, title: "Delete Scenario", class: "btn btn-xs btn-danger"
  %div{id: "test_run-#{scenario.id}", style: "display: none;"}
    = form_tag run_scenario_project_test_path(@project, scenario.id), class:"scenario-run", id: "scenario_#{scenario.id}" do
      %div.pull-left{style: "width: 33%"}
        %h4 Windows
        %ul{style: "list-style-type: none;"}
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "windows_firefox"
            = image_tag('icons/firefox.png', alt: "Firefox")
            Firefox
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "windows_chrome"
            = image_tag('icons/chrome.png', alt: "Chrome")
            Chrome
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "windows_ie9"
            = image_tag('icons/ie.png', alt: "Internet Explorer 9")
            Internet Explorer 9
          / %li{style: "border-top: 0px; padding: 2px;"}
          /   = check_box_tag "PhantomJS"
          /   = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
          /   PhantomJS
      / %div.pull-left{style: "width: 33%"}
      /   %h4 Mac OS X
      /   %ul{style: "list-style-type: none;"}
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "Firefox"
      /       = image_tag('icons/firefox.png', alt: "Firefox")
      /       Firefox
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "Chrome"
      /       = image_tag('icons/chrome.png', alt: "Chrome")
      /       Chrome
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "Safari"
      /       = image_tag('icons/safari.png', alt: "Safari")
      /       Safari
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "PhantomJS"
      /       = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
      /       PhantomJS
      %div.pull-left{style: "width: 33%"}
        %h4 Linux
        %ul{style: "list-style-type: none;"}
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "linux_firefox"
            = image_tag('icons/firefox.png', alt: "Firefox")
            Firefox
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "linux_chrome"
            = image_tag('icons/chrome.png', alt: "Chrome")
            Chrome
          / %li{style: "border-top: 0px; padding: 2px;"}
          /   = check_box_tag "browsers[]", "windows_ie9"
          /   = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
          /   PhantomJS
      %div.clearfix
      %div.buttons{style: "padding: 5px; text-align: right;"}
        %span.hide.concurrency-warning
          Your plan only allows
          %span.concurrency-limit
            #{@concurrency_limit}
          concurrent browsers for a test run
        = submit_tag "Run Tests", class: "btn btn-primary run-test", disabled: true
  -#%p.p-meta
  -#  / Due date & % Completed
  -#  %span Due : 26/2/2012 - 80% Done
  -#  .progress.progress-striped.active
  -#    .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", role: "progressbar", style: "width: 40%"}
  -#      %span.sr-only 40% Complete (success)
  %div.clearfix

  .panel-group{id: "scenario_panel_#{scenario.id}", style: "display: none;"}
    .panel.panel-default.firefox-status
      .panel-heading.panel-status
        %h4.panel-title
        =image_tag "icons/firefox-24.png"
        Firefox
        .pull-right
          %a{data:{toggle:"collapse", parent: "#accordion"}, class: 'collapsed see-test-detail', href: "#scenario_#{scenario.id}_linux_firefox_channel"}
            View All
      %div{id: "scenario_#{scenario.id}_linux_firefox_channel", class: "panel-collapse collapse"}
        .panel-body.terminal
          / %p Starting test...
          %ul.steps-list

    .panel.panel-default.chrome-status
      .panel-heading.panel-status
        %h4.panel-title
        =image_tag "icons/chrome-24.png"
        Chrome
        .pull-right
          %a{data:{toggle:"collapse", parent: "#accordion"},class: 'collapsed see-test-detail', href: "#scenario_#{scenario.id}_linux_chrome_channel"}
            View All
      %div{id: "scenario_#{scenario.id}_linux_chrome_channel", class: "panel-collapse collapse"}
        .panel-body.terminal
          %ul.steps-list

    .panel.panel-default.phantomjs-status
      .panel-heading.panel-status
        %h4.panel-title
        =image_tag "icons/phantomjs-large.png", style:"width: 24px; height: 24px;"
        PhantomJS
        .pull-right
          %a{data:{toggle:"collapse", parent: "#accordion"},class: 'collapsed see-test-detail', href: "#scenario_#{scenario.id}_linux_phantomjs_channel"}
            View All
      %div{id: "scenario_#{scenario.id}_linux_phantomjs_channel", class: "panel-collapse collapse"}
        .panel-body.terminal
          %ul.steps-list
