.page-content.blocky
  .container
    .pull-right
      %button.btn.btn-danger{onclick: "alert('Feature not implemented')"}
        %span.glyphicon.glyphicon-remove
        Remove Scenario
    %ol.breadcrumb
      %li
        = link_to "Projects", projects_path
      %li
        = link_to @project.name, project_path(@project)
      %li
        = link_to @feature.name, project_feature_path(@project, @feature)
      %li.active
        = link_to @scenario.name, project_feature_scenario_path(@project, @feature, @scenario)

    %br
    %br
    - @scenario.test_runs.each do |test_run|
      .test_run.fail
        .pull-right.view-test_run{style: "width: 80px; background-color: #ccc; height: 100%; padding-top: 20px; padding-bottom: 20px; padding-left: 25px;"}
          %a{href: '#', onclick: "alert('Feature not implemented')"}
            %span.glyphicon.glyphicon-play{style: "font-size: 2.2em"}
        .pull-left{style: "padding: 10px;"}
          %p
            %strong Ran By:&nbsp;
            %img{src: "http://www.gravatar.com/avatar/#{current_user.gravatar_hash}?s=16"}
            Jim Ray
          %p
            %strong Started On:&nbsp;
            = test_run.created_at.strftime('%m/%d/%Y %H:%m')



