.page-content.blocky
  .container
    .pull-right
      = link_to glyph_button("remove", "Delete Test"), project_test_path(@project, @scenario.slug), class: "btn btn-danger", method: :delete, confirm: "Are you sure?"
    %ol.breadcrumb
      %li
        = link_to "Projects", projects_path
      %li
        = link_to @project.name, project_path(@project)
      %li.active
        = link_to @scenario.name, project_test_path(@project, @scenario.slug)

    %br
    %br
    - @scenario.test_runs.reverse.each do |test_run|
      - if test_run.status != nil
        .test_run{class: test_run.status}
          = render partial: 'test_run', locals: {test_run: test_run}
      - else
        .test_run
          = render partial: 'test_run', locals: {test_run: test_run}
        %br{style: "clear: both;"}



