= render partial: '/shared/test_run_header', locals: {test: test}
%div{id: "#{@test_run.id}_#{test.platform}_#{test.browser}_channel", class: "#{test.status != nil ? "collapse" : ""}"}
  .panel-body.terminal
    / %p Starting test...
    - test.test_history.history_line_items.each do |scenario_history_line_item|
      %p{id: "#{test.channel_name}-scenario-#{scenario_history_line_item.testable.id.to_s}"}
        Scenario:
        = scenario_history_line_item.text
        (
        %span.steps-completed
          #{scenario_history_line_item.children.count}
        of #{scenario_history_line_item.testable.steps.count} steps completed
        )
        %ul.steps-list{id: "#{test.channel_name}-scenario-steps-#{scenario_history_line_item.testable.id.to_s}"}
          - scenario_history_line_item.children.each do |step|
            %li
              = status_glyph(step.status)
              = step.text
              -if step.status == "fail"
                (
                = link_to "View Screenshot", "https://s3-us-west-2.amazonaws.com/autotestio-#{Rails.env}/#{test.screenshot_filename}", target: "_blank", class: "screenshot-link"
                )
