- content_for :title do
  Project - #{@project.name}

- content_for :head do
  =javascript_include_tag "step_status"
  :javascript
    channels = []
    window.channels = channels
    #{
      @test_run.browser_tests.map { |test| "window.channels.push(window.pusher.subscribe('#{test.channel_name}'));"}.join(' ')
    }
    window.sec = #{@test_run.duration}
    window.completed = #{!@test_run.completed_at.nil?}

= render 'projects/projects_header'

.row
  .col-sm-3
    %h3
      Ran On:
      %b
        #{@test_run.timestamp}
  .col-sm-3
    %h3
      Ran by:
      %b
        #{@test_run.user.name}
.row
  .col-sm-3
    %h3.test-status-header
      Status:
      = test_run_status(@test_run)
  .col-sm-6
    .row
      .col-sm-1
        %button{data: {toggle: "modal", target: "#alert-dev-modal-#{nil}-#{@test_run.id}"}, class: "btn btn-info btn-sm action", "data-original-title" => "Move to folder", "data-placement" => "bottom", rel: "tooltip", title: "Email To Developer"}
          %i.fa.fa-paper-plane
        = render 'scenarios/email_to_developer_modal', test_id: nil, test_run: @test_run

%hr
.row
  .col-sm-12
    - @test_run.browser_tests.each do |test|
      / - if test.status != nil
      /   .test{class: "#{test.status}"}
      /     = render partial: 'test_history', locals: {test: test}
      / - else
      .test
        = render partial: 'test', locals: {test: test}


