%li
  = link_to feature.name, project_feature_path(@project, feature)
  .pull-right
    = play_button(feature)
    = link_to delete_glyph, project_feature_path(@project, feature), title: "Delete This Feature", method: :delete, confirm: "Are you sure?"
    = link_to "View Test Runs", project_feature_test_runs_path(@project, feature)
  %div{id: "test_run-#{feature.id}", style: "display: none;"}
    = form_tag run_project_feature_path(@project.id, feature.id), class:"scenario-run", id: "feature_#{feature.id}" do
      %div.pull-left{style: "width: 33%"}
        %h4 Windows
        %ul{style: "list-style-type: none;"}
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "windows_firefox"
            = image_tag('icons/firefox.png', alt: "Firefox")
            Firefox
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "windows_chrome"
            = image_tag('icons/chrome.png', alt: "Chrome")
            Chrome
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "windows_ie9"
            = image_tag('icons/ie.png', alt: "Internet Explorer 9")
            Internet Explorer 9
          / %li{style: "border-top: 0px; padding: 2px;"}
          /   = check_box_tag "PhantomJS"
          /   = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
          /   PhantomJS
      / %div.pull-left{style: "width: 33%"}
      /   %h4 Mac OS X
      /   %ul{style: "list-style-type: none;"}
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "Firefox"
      /       = image_tag('icons/firefox.png', alt: "Firefox")
      /       Firefox
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "Chrome"
      /       = image_tag('icons/chrome.png', alt: "Chrome")
      /       Chrome
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "Safari"
      /       = image_tag('icons/safari.png', alt: "Safari")
      /       Safari
      /     %li{style: "border-top: 0px; padding: 2px;"}
      /       = check_box_tag "PhantomJS"
      /       = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
      /       PhantomJS
      %div.pull-left{style: "width: 33%"}
        %h4 Linux
        %ul{style: "list-style-type: none;"}
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "linux_firefox"
            = image_tag('icons/firefox.png', alt: "Firefox")
            Firefox
          %li{style: "border-top: 0px; padding: 2px;"}
            = check_box_tag "browsers[]", "linux_chrome"
            = image_tag('icons/chrome.png', alt: "Chrome")
            Chrome
          / %li{style: "border-top: 0px; padding: 2px;"}
          /   = check_box_tag "browsers[]", "windows_ie9"
          /   = image_tag('icons/phantomjs.png', alt: 'PhantomJS')
          /   PhantomJS
      %div.clearfix
      %div.buttons{style: "padding: 5px; text-align: right;"}
        = submit_tag "Run Tests", class: "btn btn-primary run-test", disabled: true
