-content_for :head do
  =javascript_include_tag "stepStatus"

.page-content.blocky
  .container
    .pull-right
      %button.btn.btn-success{onclick: "alert('Feature not implemented')"}
        %span.glyphicon.glyphicon-edit
        Edit Feature
      %button.btn.btn-danger{onclick: "alert('Feature not implemented')"}
        %span.glyphicon.glyphicon-remove
        Remove Feature
    %ol.breadcrumb
      %li
        = link_to "Projects", projects_path
      %li
        = link_to @project.name, project_path(@project)
      %li.active
        = link_to @feature.name, project_feature_path(@project, @feature)
    .row
      .col-md-12
        / Project widget
        .awidget
          .awidget-head
            %h3 Scenarios
          .awidget-body
            - if @feature.scenarios.size == 0
              %p
                You haven't added any scenarios for this feature, would you like to
                %a{href: @feature.project.url, target: "_blank"} record one
            - else
              %ul.project
                = render partial: 'scenarios/scenario', collection: @feature.scenarios.sort_by{|s| s.name.downcase}
              .clearfix
          / Project widget

= render partial: 'scenarios/new_modal', locals: {project: @project, feature: @feature}
