.navbar.navbar-default{role: "navigation"}
  .navbar-inner
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

      #logo-group
        %span#logo
          = link_to image_tag('layout/gorilla-test-head.svg'), root_path
          %h1.hide Gorilla Test

      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          - if current_user.present?
            %li= render 'layouts/recent_updates'
          - else
            %li= nav_link 'FAQs', faqs_path
            %li= nav_link 'Pricing', pricing_path
          - unless current_user.present?
            %li= nav_link 'Documentation', documentation_path
          -#%li= link_to 'Contact', '#'
          -#%li= link_to 'Blog', '#'
        %ul#logout.btn-header.transparent.pull-right
          - if current_user.present?
            %li.logout= icon_link "Logout", logout_path, "fa-sign-out"
          - else
            %li= link_to 'Request Invite', "#", data: {target: "#myModal", toggle: "modal"} #, class: 'btn btn-danger btn-lg'
            %li= nav_link 'Login', login_path

