%aside#left-panel
  -#.login-info
  -#  = gravatar_image_tag(current_user, 32)

  %nav
    %ul
      = icon_link "Dashboard", dashboard_path, "fa-home"
      %li.open#nav-project-list-link
        %a{href: "javascript:;"}
          %i.fa.fa-lg.fa-fw.fa-desktop
          %span.menu-item-parent Projects
        %ul
          - @users_projects.each do |project|
            - if @project && @project == project
              %li.current-project= link_to project.name, project_path(project)
            - else
              %li= link_to project.name, project_path(project)
      %li= icon_link "Add Project", current_user.try(:can_create_project?) ? new_project_path : change_plan_path(plan:"maxed"), "fa-plus"
      %li= icon_link "My Info", my_info_path, "fa-info"
      %li= icon_link "Manage Billing", credit_cards_path, "fa-credit-card"

      - if current_user.present?
        = icon_link "Logout", logout_path, "fa-sign-out"

  %span.minifyme
    %i.fa.fa-arrow-circle-left.hit
