%aside#left-panel
  .login-info
    %span
      / User image size is adjusted inside CSS, it should stay as it
      %a#show-shortcut{href: "javascript:void(0);"}
        = gravatar_image_tag(current_user, 32)
        %span= truncate(current_user.try(:name), :length => 10, omission: ' ')

  %nav
    %ul
      %li= nav_link "Dashboard", dashboard_path, "fa-home"
      %li
        - if current_user.can_create_project?
          = nav_link "Add Project", new_project_path(), "fa-plus"
        - else
          = nav_link "Add Project", change_plan_path(plan:"maxed"), "fa-plus"
      %li.open#nav-project-list-link
        %a{href: "javascript:;"}
          %i.fa.fa-lg.fa-fw.fa-desktop
          %span.menu-item-parent Projects
        %ul
          - @users_projects.each do |project|
            %li= link_to project.name, project_path(project)

  %span.minifyme
    %i.fa.fa-arrow-circle-left.hit
