!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title= content_for?(:title) ? "AutoTest - " + yield(:title) : "AutoTest - AutoTest Slogan."
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"}
    %meta{:content => content_for?(:description) ? yield(:description) : "AutoTest Description", :name => "description"}
    %meta{:content => content_for?(:keywords) ? yield(:keywords) : "AutoTest Keywords", :name => "keywords"}
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600italic,600", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag    "application/application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    =javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
    %script{type: 'text/javascript'}
      pusher = new Pusher("#{Pusher.key}")
      window.pusher = pusher
    = yield(:head)
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags

  %body
    / Logo & Navigation starts
    .navbar.navbar-inverse.navbar-fixed-top.row{role: "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{href: "/dashboard"} autotest
        - if current_user
          .pull-right{style: "margin-top: 10px"}
            .dropdown
              %a#user-dropdown{data: {toggle: 'dropdown'}}
                = current_user.name
                &nbsp;
                %img{src: "http://www.gravatar.com/avatar/#{current_user.gravatar_hash}?s=30"}
                %span.caret
              %ul.dropdown-menu{role: "menu", "aria-labelledby" => "user-dropdown"}
                %li{role: "presentation"}
                  = user_nav_link("cog", "Settting", edit_user_registration_path)
                %li{role: "presentation"}
                  %a.teams{href: "#"}
                    %span.glyphicon.glyphicon-user
                    &nbsp;
                    Teams
                    %span.label.label-danger Coming Soon
                %li{role: "presentation"}
                  %a{data: {toggle: "modal", target: "#invite-user"}}
                    %span.glyphicon.glyphicon-bullhorn
                    &nbsp;
                    Invite A New User
                %li{role: "presentation"}
                  = link_to raw("#{logout_glyph}&nbsp; Log Out"), destroy_user_session_path, method: :delete

    %br{style: "clear: both;"}
    %br
    .container
      .row
        .col-md-5
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              .alert.fade.in{:class => "alert-#{name == :notice ? "success" : "error"}"}
                %a.close{"data-dismiss" => "alert"} ×
                = content_tag :div, msg, :id => "flash_#{name}"

          = yield
    #invite-user.modal.fade
      .modal-dialog
        .modal-content
          = simple_form_for User.new, :url => '/invitation', :html => {:method => :post, class: 'invite-modal-form'} do |f|
            .modal-header
              %button.close{data: {dismiss: "modal"}, aria:{hidden: true}} &times;
              %h4.modal-title Invite A User
            .modal-body
              = f.input :email
            .modal-footer
              %button.btn.btn-info{data: {dismiss: "modal"}, aria: {hidden: true}} Close
              = f.submit "Invite User", class: "btn btn-primary"
