!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title= content_for?(:title) ? "AutoTest - " + yield(:title) : "AutoTest - AutoTest Slogan."
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"}
    %meta{:content => content_for?(:description) ? yield(:description) : "AutoTest Description", :name => "description"}
    %meta{:content => content_for?(:keywords) ? yield(:keywords) : "AutoTest Keywords", :name => "keywords"}
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel: "stylesheet", type: "text/css"}/
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600italic,600", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag    "application/application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    =javascript_include_tag "https://d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js"
    -if Rails.env.staging?
      :javascript
        var BugHerdConfig = {"feedback":{"tab_position":"bottom-right"}};
        (function (d, t) {
          var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
          bh.type = 'text/javascript';
          bh.src = '//www.bugherd.com/sidebarv2.js?apikey=i7nmkdkvqqewgejzjlrhuq';
          s.parentNode.insertBefore(bh, s);
          })(document, 'script');
      %script#inspectletjs{type: "text/javascript"}
        window.__insp = window.__insp || [];
        __insp.push(['wid', 1322164257]);
        (function() {
        function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
        if (window.attachEvent){
        window.attachEvent('onload', __ldinsp);
        }else{
        window.addEventListener('load', __ldinsp, false);
        }
        })();
    %script{type: 'text/javascript'}
      pusher = new Pusher("#{Pusher.key}")
      window.pusher = pusher
    - if !Rails.env.development? && current_user
      :javascript
        UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/q8EbGysZwykliONIjHQ1g.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

        UserVoice.push(['set', {
          accent_color: '#808283',
          trigger_color: 'white',
          trigger_background_color: 'rgba(46, 49, 51, 0.6)'
        }]);

        UserVoice.push(['identify', {
          email: "#{escape_javascript current_user.email}"
        }])
        UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);
        UserVoice.push(['autoprompt', {}]);

    = yield(:head)
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags

  %body
    / Logo & Navigation starts
    .navbar.navbar-inverse.navbar-fixed-top.row{role: "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{href: "/projects"} autotest
        - if current_user
          = render '/layouts/user'

    %br{style: "clear: both;"}
    %br
    .container
      .row
        .col-md-5
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              .alert.fade.in{:class => "alert-#{name == :notice ? "success" : "danger"}"}
                %a.close{"data-dismiss" => "alert"} ×
                = content_tag :div, msg, :id => "flash_#{name}"

      = yield
    #invite-user.modal.fade
      .modal-dialog
        .modal-content
          = simple_form_for User.new, :url => '/invitation', :html => {:method => :post, class: 'invite-modal-form'} do |f|
            .modal-header
              %button.close{data: {dismiss: "modal"}, aria:{hidden: true}} &times;
              %h4.modal-title Invite A User
            .modal-body
              = f.input :email
            .modal-footer
              %button.btn.btn-info{data: {dismiss: "modal"}, aria: {hidden: true}} Close
              = f.submit "Invite User", class: "btn btn-primary"
