!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title= content_for?(:title) ? "AutoTest - " + yield(:title) : "AutoTest - AutoTest Slogan."
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"}
    %meta{:content => content_for?(:description) ? yield(:description) : "AutoTest Description", :name => "description"}
    %meta{:content => content_for?(:keywords) ? yield(:keywords) : "AutoTest Keywords", :name => "keywords"}
    = favicon_link_tag 'favicon.ico'
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "welcome/application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application/recorder", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "iframe", data: {project_id: params[:project_id],
                                              auth: @project.api_key,
                                              api_url: ENV['API_URL'] || '',
                                              env: Rails.env}

    = csrf_meta_tags
  %body
    - css_class = params[:action] == "developer" ? "dev-bar" : "recording-bar"
    %div{class: "#{css_class}"}
      %span.logo
        GorillaTest
      = yield

    %br{style: "clear: both;"}
