!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title= content_for?(:title) ? "AutoTest - " + yield(:title) : "AutoTest - AutoTest Slogan."
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"}
    %meta{:content => content_for?(:description) ? yield(:description) : "AutoTest Description", :name => "description"}
    %meta{:content => content_for?(:keywords) ? yield(:keywords) : "AutoTest Keywords", :name => "keywords"}
    = favicon_link_tag 'favicon.ico'
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600italic,600", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "welcome/application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application/recorder", media: "all", "data-turbolinks-track" => true
    /= javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "recordv2", data: {project_id: params[:project_id],
                                                auth: current_user.company.api_key,
                                                api_url: ENV['API_URL'] || '',
                                                env: Rails.env}
    = csrf_meta_tags
  %body
    %div.recording-bar
      = select_tag "features"
      %span#current-scenario
      /%span#step-count Number of Steps:
      .pull-right
        %button#record.btn.btn-danger.btn-xs{data: {toggle: "modal", target: "#add-scenario"}, "disabled" => "disabled"} Record
        = render "text_highlight"
        %button#stop-recording.btn.btn-primary.btn-xs Stop
    %div#add-scenario.modal.fade
      .container
        .col-md-4.col-md-offset-4
          %div.modal-content
            %div.modal-header
              %button.close{data: {dismiss: "modal"}} &times;
              %h4 Start Recording A New Scenario
            %div.modal-body
              %label Scenario Name
              %input{type: "text", name: "scenario[name]", id: "scenario_name"}
              %p Once this modal closes AutoTest will automatically start recording your behavior for this scenario
            %div.modal-footer
              %button.btn.btn-default{data: {dismiss: "modal"}} Close
              %button.btn.btn-primary#start-recording{"disabled" => "disabled"} Start Recording
    %div#element-modal.modal.fade
      .container
        .col-md-6.col-md-offset-3{style: "margin-top: 40px;"}
          %div.modal-content
            %div.modal-header
              %button.close.close-element-modal{data: {dismiss: "modal"}} &times;
              %h4 Choose Validation
            %div.modal-body
              =radio_button_tag "record_text", "text", false, class: "validation-radio"
              %label
                Record element text:
              %p#record-element-text
              %br
              =radio_button_tag "record_text", "element_html", false, class: "validation-radio"
              %label
                Record element:
              %p#record-element-html


            %div.modal-footer
              %button.btn.btn-default.close-element-modal{data: {dismiss: "modal"}} Close
              %button.btn.btn-primary#save-validation{"disabled" => "disabled"} Save Validation
    = yield
